*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-weight: 500;
}
html{
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  background: white;
  width: 0.4rem;
}

::-webkit-scrollbar-thumb{
  background-color: rgba(173, 173, 173, 0.5);
  border-radius: 10px;
  transition: background-color 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(173, 173, 173, 0.8);
}

body{
    height: auto;
    width: 100vw;
    overflow-x: hidden;
}
.whole_container::before {    
  content: "";
  background-image: url("/static/images/pattern.png");
  background-size:auto;
  background-repeat: repeat;
  z-index: -100;
  position: absolute;
  top: 0px;
  right: 0px;
  height: auto;
  bottom: 0px;
  left: 0px;
  opacity: 0.07;
}

.whole_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 120px;
    height: 9vh;
    top: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(5px);
    background-image: url("https://pledge.mygov.in/fightagainstdrugabuse/assets/images/cloud-bg.png");
    margin-bottom: 10px;
    width: 100%;
}
.logo{
    height: 50px;
    width: 50px;
}

.slider{
    height: 50vh;
    width: 100%;
    position: relative;
  }
  .one-time{
    height: 100%;
    width: 80%;
    margin: 0 auto;
}
.prev{
    position: absolute;
    cursor: pointer;
    left: 200px;
    top: 50%;
    font-size: larger;
}
.next{
    position: absolute;
    margin-right: 10px;
    cursor: pointer;
    right: 20px;
    top: 50%;
    font-size: larger;
}
.slides{
    height: 100%;
    width: 100%;
}
.slides img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slick-list{
    height: 100%;
}
.slick-track{
    height: 100%;
}

.ls,.mid{
    display: flex;
    column-gap: 20px;
}
.ls button{
    padding: 5px;
    width: 100px;
}
#openLogin {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: normal;
  margin: 0;
  height: 50px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}
#openLogin:disabled {
  pointer-events: none;
}
#openLogin:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
#openLogin:active {
  box-shadow: none;
  transform: translateY(0);
}

#openPopup {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  height: 50px;
  min-width: 0;
  outline: none;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}
#openPopup:disabled {
  pointer-events: none;
}
#openPopup:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
#openPopup:active {
  box-shadow: none;
  transform: translateY(0);
}

.hype , .hype a{
  display: inline-block;
  position: relative;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.hype::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(228, 26, 77);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hype:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.links{
    margin-top:30px;
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
}


#popupContainer{
    display: none;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    row-gap: 10px;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.274);
}
#loginContent{
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.412);
    flex-direction: column;
    top: 0;
    left: 0;
    position: absolute;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    z-index: 100;
}
.center-form{
    height: 50%;
    width: 30%;
    background-color: rgba(255, 255, 255, 0.855);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 3px solid;
}
.center-form form{
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    flex-direction: column;
}
.center-form form h2{
    border-bottom: 2px solid;
}
.center-form form a{
    text-decoration: underline;
    cursor: pointer;
    color: blue;
}
.form-submit{
    width: 100px;
    height: 30px;
}

/* contact start */

.container {
    width: 100vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
  }
  
  .card {
    background-color: #f1f1f15e;
    padding: 1rem;
    border-radius: 5px;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  .right{
    width: 30vw;
  }
  .left {
    width: 25vw;
    overflow: hidden;
    border-radius: 5px;
  }
  .form-container{
    width: 100%;
  }
  
  .right .contact {
    display: flex;
    gap: 1rem;
    width: 100%;
    margin-right: 1rem;
  }
  
  .form, .address {
    display: flex;
    flex-direction: column;
    padding: 1rem 0 0;
  }
  
  .form input, textarea {
    width: 100%;
    outline: none;
    background: none;
    border: none;
    border-bottom: 2px solid #000;
    padding: 10px 0;
    margin: 5px 0;
  }
  
  .usersubmit input {
    background-color: #f25;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    width: min-content;
    padding: 15px;
    margin-bottom: 0;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .usersubmit input:hover {
    background-color: #f45;
  }
  
  
  h4 {
    margin-bottom: 5px;
  }
  
  @media screen and (max-width: 700px) {
    .card {
      flex-direction: column;
    }
    
    .left {
      width: 60vw;
      height: 40vh;
    }
  }
  
  @media screen and (max-width: 350px) {
    .container {
      overflow: hidden;
    }
    .left {
      height: 20vh;
    }
    .contact {
      flex-direction: column;
    }
  }






.waves{
  background-image: url("https://pledge.mygov.in/fightagainstdrugabuse/assets/images/repetable-footer.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 40px;
}

/* footer start */


footer{
    font-family: "Poppins",sans-serif;
  }
  .footer-container {
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    background-color: rgb(6, 16, 37);
  }
  
  .footer-side-col{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 80%;
  }
  
  .footer-side-col > .col{
    padding: 2.5rem;
    flex-wrap: nowrap;
  }
  
  .footer-container > .col {
    padding: 2.5rem;
    flex-basis: 20%;
    color: white;
  }
  
  .footer-container .col a:hover,
  footer a:focus {
    color: cyan;
  }
  
  @media (max-width: 1120px){
    .footer-side-col{
      grid-template-columns: repeat(2,1fr);
      grid-template-rows: repeat(2,1fr);
    }
  }
  
  @media (max-width: 730px) {
    .footer-container {
      gap: 0.5rem;
      flex-wrap: wrap;
    }
  
    .footer-container .col {
      padding: 2rem;
      flex-basis: 31%;
    }
  
    .footer-container p {
      color: white;
      margin-top: 1rem;
    }
  }
  
  @media (max-width: 600px) {
    .footer-side-col{
      grid-template-columns: 1fr;
      grid-template-rows: minmax(auto,auto);
    }
  
    .footer-container .col {
      padding: 1rem;
      flex-basis: 100%;
    }
  }
  
  .footer-container .col a {
    display: inline-block;
    position: relative;
    color: white;
  }
  
  .footer-container .col ul li a:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: cyan;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .footer-container .col ul li a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .footer-container p {
    color: white;
  }
  
  .footer-container .col ul li a:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: cyan;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .footer-container .col ul li a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .footer-container p {
    margin-top: 0.5rem;
  }
  .footerpara{
    margin-left: -10px;
  }
  
  .footer-container .col .email-id {
    word-wrap: break-word;
    text-decoration: underline;
  }
  
  .email-id a{
    text-decoration: none;
    color: white;
  }
  .footer-container .col h3 {
    color: rgb(228, 26, 77);
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: 900;
    font-family: "Ubuntu",sans-serif;
  }
  
  .footer-container .col img {
    display: block;
    margin: 0 auto;
    width: 140px;
    cursor: pointer;
  }
  .footer-container .col .footerheading {
    display: flex;
    color:white ;
    margin-top: 0.5px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    justify-content: center;
    cursor: pointer;
  }
  .footer-container .col .footerpara {
    display: flex;
    margin-top: -19px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    letter-spacing: 4px;
    justify-content: center;
    cursor: pointer;
  }
  .fab:hover {
    text-decoration: none;
  }
  
  .footer-container .col .sukoon {
    color: rgb(30, 240, 191);
    letter-spacing: 5px;
  }
  
  .footer-container .col .social-menu ul {
    display: flex;
    gap: 1rem;
  }
  
  .footer-container .col .social-menu ul a {
    color: white;
  }
  .footer-container .col .social-menu ul a li{
    transition: transform 250ms ease-out;
  }
  
  .footer-container .col .social-menu ul a li:hover {
    transform: scale(1.4) !important;
    text-decoration: none !important;
  }
  .footer-container .col .social-menu ul a li#social-twitter:hover{
    color: 	#1DA1F2;
  }
  .footer-container .col .social-menu ul a li#social-github{
    transition: transform  250ms ease-out, color 250ms ease-out, padding 250ms ease-out !important;
  }
  .footer-container .col .social-menu ul a li#social-github:hover{
    transform: scale(1.2) !important;
    color:black;
    background-color: whitesmoke;
    padding: 2px 2px 0px 2px;
    border-radius: 25px;
  }
  .footer-container .col .social-menu ul a li#social-linkedin:hover{
    color: #0A66C2;
  }
  .footer-container .col ul li {
    list-style-type: none;
    text-align: left;
    margin-top: 0.5rem;
  }
  .footer-container .col ul li a {
    text-decoration: none;
    color: white;
  }
  
  @media screen and (max-width: 600px) {
    
    .footer-container .col ul li {
      text-align: center;
    }
  
    .footer-container {
      text-align: center;
    }
  
    .footer-container .col .social-menu ul {
      justify-content: center;
    }
  }
  
  .footercontent{
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
  }


  /* community start  */


  .flex-container {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 0;
}

.box {
    flex: 1;
    text-align: center;
    padding: 20px;
    border: 2px;
    margin: 14px;
    background: #ffffffb5;
    border-radius: 12px;
    box-shadow: 1px 1px 4px 0px rgba(255, 255, 255, 0.25);
    display: flex;
    flex-direction: column;
}

.box img {
    max-width: 100%;
    height: 200px;
    object-fit: cover;


}

.here {
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    cursor: pointer;
}

h4 {
    margin-top: 5px;
    cursor: pointer;
}

.progress-bar {
    width: 100%;
    height: 4px;
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
}

.progress {
    height: 100%;
    background-color: rgb(228, 26, 77);
    border-radius: 10px;
    transition: width 0.5s ease;
    cursor: pointer;
}

hr {
    width: 10%;
    border: 1px solid black;
    cursor: pointer;

}

.count {
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-top: 4px;
    cursor: pointer;
    text-align: left;
}

.reg {
    margin-top: 15px;
    background-color: rgb(228, 26, 77);
    border: none;
    color: white;
    cursor: pointer;
    height: 40px;
    border-radius: 18px;

}

#bookcall {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1a1a1a;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3b3b3b;
    cursor: pointer;
    display: inline-block;
    font-family:
        Roobert,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Helvetica,
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    min-width: 0;
    outline: none;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
}

#bookcall:disabled {
    pointer-events: none;
}

#bookcall:hover {
    color: #fff;
    background-color: #1a1a1a;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

#bookcall:active {
    box-shadow: none;
    transform: translateY(0);
}