{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compete</title>
    <link rel="stylesheet" href="{% static 'style/competitions.css' %}">
    <style>
        
    </style>
</head>

<body>
    <section class="whole_container" id="Compete">
        <nav class="navbar">
            <div class="lefty" style="display: flex;align-items: center;justify-content: center;column-gap: 20px;">
                <img src="{% static 'images/logo.jpeg' %}" alt="" style="height: 60px;width: 60px;">
                <h1>GENZ BODHI</h1>
            </div>
            <div class="mid">
                <h3 class="hype"><a href="/home">HOME</a></h3>
                <h3 class="hype">MISSION</h3>
                <h3 class="hype">EXPLORE</h3>
                <h3 class="hype"><a href="#contact">CONTACT US</a></h3>
            </div>
        </nav>
        <div class="container">
            <div style="display: flex;flex-direction: column;align-items: center;justify-content: center;">
                <h2 class="h2">Compete Skills</h2>
                <p>To see who would come out the first!</p>
            </div>
            <hr class="line">
            <div class="row">
                <div class="test-main">
                    <img class="image" src="{% static 'images/quiz.png' %}" alt="quizpage">
                    <a href="/quiz">
                        <div class="name">
                            <h3 class="h4">Quiz</h3>
                            <p class="text">Participate in Cool Quizzes to boost your skills.</p>
                        </div>
                    </a>
                </div>

                <div class="test-main">
                    <img class="image" src="{% static 'images/rpg.png' %}" alt="roleplay">
                    <a href="game.html">
                        <div class="name">
                            <h3 class="h4">Antidrug RPG</h3>
                            <p class="text">Play our role play game!</p>
                        </div>
                    </a>
                </div>

                <div class="test-main">
                    <img class="image" src="{% static 'images/hear.png' %}" alt="hear">
                    <a href="/experiance">
                        <div class="name">
                            <h3 class="h4">Hear us out!</h3>
                            <p class="text">Join us and embark with real life story..</p>
                        </div>
                    </a>
                </div>

            </div>
        </div>
        <div class="waves">
        </div>
        <footer style="width: 100%;">
            <div class="footer-container">
              <div class="col">
                <img src="{% static 'images/logo.jpeg' %}" alt="logo" class="footlogo" />
              </div>
        
              <div class="footer-side-col">
                <div class="col">
                  <h3>
                    Location
                    <div class="underline"><span></span></div>
                  </h3>
                  <p>India la dhan</p>
                  <p class="email-id"><a href="mailto:suk00n794@gmail.com">temp@gmail.com</a></p>
                </div>
        
                <div class="col">
                  <h3>Links</h3>
                  <ul>
                    <li><a href="">About Us</a></li>
                    <li>
                      <a href="">Privacy Policy</a>
                    </li>
                  </ul>
                </div>
        
                <div class="col">
                  <h3>
                    Social
                    <div class="underline"><span></span></div>
                  </h3>
                  <div class="social-menu">
                    <ul>
                      <a href="https://twitter.com/Suk00n9" target="_blank">
                        <li id="social-twitter"><i class="fab fa-2x fa-twitter"></i></li>
                      </a>
                      <a href="https://github.com/AnkitArya0" target="_blank">
                        <li id="social-github"><i class="fab fa-2x fa-github"></i></li>
                      </a>
                      <a href="https://www.linkedin.com/in/sukoon-9-4b8aa9278/" target="_blank">
                        <li id="social-linkedin"><i class="fab fa-2x fa-linkedin-in"></i></li>
                      </a>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
        </footer>
    </section>
</body>

</html>
