{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="{% static 'style/quiz.css' %}" />
    <title>Quiz App</title>
  </head>
  <body>
    <a href="/home" style="display: flex;align-items: flex-end;margin-right: 60px;background-color: rgb(149, 149, 240);height: 40px;width: 100px;padding: 5px;justify-content: center;border-radius: 30px;color: white;text-decoration: none;">back?</a>
    <div class="container">
      <div class="start-screen">
        <h1 class="heading">Quiz App</h1>
        <div class="settings">
          <label for="num-questions">Number of Questions:</label>
          <select id="num-questions">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="20">30</option>
            <option value="20">40</option>
            <option value="20">50</option>
          </select>
          <label for="category">Select Category:</label>
          <select id="category">
            <option value="">any category</option>
            <option value="9">general knowledge</option>
            <option value="10">books</option>
            <option value="11">films</option>
            <option value="12">music</option>
            <option value="14">television</option>
            <option value="15">video games</option>
            <option value="16">board games</option>
            <option value="17">science and nature</option>
            <option value="18">computers</option>
            <option value="19">mathematics</option>
            <option value="20">mythology</option>
            <option value="21">sports</option>
            <option value="22">geography</option>
            <option value="23">history</option>
            <option value="24">politics</option>
            <option value="25">art</option>
            <option value="28">vehicles</option>
          </select>
          <label for="difficulty">Select difficulty:</label>
          <select id="difficulty">
            <option value="">any difficulty</option>
            <option value="easy">easy</option>
            <option value="medium">medium</option>
            <option value="hard">hard</option>
          </select>
          <label for="time">Select time per question:</label>
          <select id="time">
            <option value="10">10 seconds</option>
            <option value="15">15 seconds</option>
            <option value="20">20 seconds</option>
            <option value="25">25 seconds</option>
            <option value="30">30 seconds</option>
            <option value="60">60 seconds</option>
          </select>
        </div>
        <button class="btn start">Start Quiz</button>
      </div>
      <div class="quiz hide">
        <div class="timer">
          <div class="progress">
            <div class="progress-bar"></div>
            <span class="progress-text"></span>
          </div>
        </div>
        <div class="question-wrapper">
          <div class="number">
            Question <span class="current">1</span>
            <span class="total">/10</span>
          </div>
          <div class="question">This is a question This is a question?</div>
        </div>
        <div class="answer-wrapper">
          <div class="answer selected">
            <span class="text">answer</span>
            <span class="checkbox">
              <i class="fas fa-check"></i>
            </span>
          </div>
        </div>
        <button class="btn submit" disabled>Submit</button>
        <button class="btn next">Next</button>
      </div>
      <div class="end-screen hide">
        <h1 class="heading">Quiz App</h1>
        <div class="score">
          <span class="score-text">Your score:</span>
          <div>
            <span class="final-score">0</span>
            <span class="total-score">/10</span>
          </div>
        </div>
        <button class="btn restart">Restart Quiz</button>
      </div>
    </div>

    <script>
        const progressBar = document.querySelector(".progress-bar"),
        progressText = document.querySelector(".progress-text");

        const progress = (value) => {
        const percentage = (value / time) * 100;
        progressBar.style.width = `${percentage}%`;
        progressText.innerHTML = `${value}`;
        };

        const startBtn = document.querySelector(".start"),
        numQuestions = document.querySelector("#num-questions"),
        category = document.querySelector("#category"),
        difficulty = document.querySelector("#difficulty"),
        timePerQuestion = document.querySelector("#time"),
        quiz = document.querySelector(".quiz"),
        startScreen = document.querySelector(".start-screen");

        let questions = [],
        time = 30,
        score = 0,
        currentQuestion,
        timer;

        const startQuiz = () => {
        const num = numQuestions.value,
            cat = category.value,
            diff = difficulty.value;
        loadingAnimation();
        const url = `https://opentdb.com/api.php?amount=${num}&category=${cat}&difficulty=${diff}&type=multiple`;
        fetch(url)
            .then((res) => res.json())
            .then((data) => {
            questions = data.results;
            setTimeout(() => {
                startScreen.classList.add("hide");
                quiz.classList.remove("hide");
                currentQuestion = 1;
                showQuestion(questions[0]);
            }, 1000);
            });
        };

        startBtn.addEventListener("click", startQuiz);

        const showQuestion = (question) => {
        const questionText = document.querySelector(".question"),
            answersWrapper = document.querySelector(".answer-wrapper");
        questionNumber = document.querySelector(".number");

        questionText.innerHTML = question.question;

        const answers = [
            ...question.incorrect_answers,
            question.correct_answer.toString(),
        ];
        answersWrapper.innerHTML = "";
        answers.sort(() => Math.random() - 0.5);
        answers.forEach((answer) => {
            answersWrapper.innerHTML += `
                        <div class="answer ">
                    <span class="text">${answer}</span>
                    <span class="checkbox">
                    <i class="fas fa-check"></i>
                    </span>
                </div>
                `;
        });

        questionNumber.innerHTML = ` Question <span class="current">${
            questions.indexOf(question) + 1
        }</span>
                    <span class="total">/${questions.length}</span>`;
        const answersDiv = document.querySelectorAll(".answer");
        answersDiv.forEach((answer) => {
            answer.addEventListener("click", () => {
            if (!answer.classList.contains("checked")) {
                answersDiv.forEach((answer) => {
                answer.classList.remove("selected");
                });
                answer.classList.add("selected");
                submitBtn.disabled = false;
            }
            });
        });

        time = timePerQuestion.value;
        startTimer(time);
        };

        const startTimer = (time) => {
        timer = setInterval(() => {
            if (time === 3) {
            playAdudio("countdown.mp3");
            }
            if (time >= 0) {
            progress(time);
            time--;
            } else {
            checkAnswer();
            }
        }, 1000);
        };

        const loadingAnimation = () => {
        startBtn.innerHTML = "Loading";
        const loadingInterval = setInterval(() => {
            if (startBtn.innerHTML.length === 10) {
            startBtn.innerHTML = "Loading";
            } else {
            startBtn.innerHTML += ".";
            }
        }, 500);
        };
        function defineProperty() {
        var osccred = document.createElement("div");
        osccred.innerHTML =
            "Quiz";
        osccred.style.position = "absolute";
        osccred.style.bottom = "0";
        osccred.style.right = "0";
        osccred.style.fontSize = "10px";
        osccred.style.color = "#ccc";
        osccred.style.fontFamily = "sans-serif";
        osccred.style.padding = "5px";
        osccred.style.background = "#fff";
        osccred.style.borderTopLeftRadius = "5px";
        osccred.style.borderBottomRightRadius = "5px";
        osccred.style.boxShadow = "0 0 5px #ccc";
        document.body.appendChild(osccred);
        }

        defineProperty();

        const submitBtn = document.querySelector(".submit"),
        nextBtn = document.querySelector(".next");
        submitBtn.addEventListener("click", () => {
        checkAnswer();
        });

        nextBtn.addEventListener("click", () => {
        nextQuestion();
        submitBtn.style.display = "block";
        nextBtn.style.display = "none";
        });

        const checkAnswer = () => {
        clearInterval(timer);
        const selectedAnswer = document.querySelector(".answer.selected");
        if (selectedAnswer) {
            const answer = selectedAnswer.querySelector(".text").innerHTML;
            console.log(currentQuestion);
            if (answer === questions[currentQuestion - 1].correct_answer) {
            score++;
            selectedAnswer.classList.add("correct");
            } else {
            selectedAnswer.classList.add("wrong");
            const correctAnswer = document
                .querySelectorAll(".answer")
                .forEach((answer) => {
                if (
                    answer.querySelector(".text").innerHTML ===
                    questions[currentQuestion - 1].correct_answer
                ) {
                    answer.classList.add("correct");
                }
                });
            }
        } else {
            const correctAnswer = document
            .querySelectorAll(".answer")
            .forEach((answer) => {
                if (
                answer.querySelector(".text").innerHTML ===
                questions[currentQuestion - 1].correct_answer
                ) {
                answer.classList.add("correct");
                }
            });
        }
        const answersDiv = document.querySelectorAll(".answer");
        answersDiv.forEach((answer) => {
            answer.classList.add("checked");
        });

        submitBtn.style.display = "none";
        nextBtn.style.display = "block";
        };

        const nextQuestion = () => {
        if (currentQuestion < questions.length) {
            currentQuestion++;
            showQuestion(questions[currentQuestion - 1]);
        } else {
            showScore();
        }
        };

        const endScreen = document.querySelector(".end-screen"),
        finalScore = document.querySelector(".final-score"),
        totalScore = document.querySelector(".total-score");
        const showScore = () => {
        endScreen.classList.remove("hide");
        quiz.classList.add("hide");
        finalScore.innerHTML = score;
        totalScore.innerHTML = `/ ${questions.length}`;
        };

        const restartBtn = document.querySelector(".restart");
        restartBtn.addEventListener("click", () => {
        window.location.reload();
        });

        const playAdudio = (src) => {
        const audio = new Audio(src);
        audio.play();
        };

    </script>
  </body>
</html>
